// sass variables
// colors from https://flatuicolors.com/palette/ca
$color-grey-dark: #222f3e;
$color-red: #ff6b6b;


$footer-height: 80px;

// root variables
:root {
    --color-text: #{$color-grey-dark};
    --color-primary: #{$color-red};
    --color-links: var(--color-primary);
}